<form class="form-signin">
    
    <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
    <label for="inputEmail" class="sr-only">Endereço de email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Seu email" name="email" [(ngModel)]="email" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" name="senha" [(ngModel)]="senha" required>
    
    <button class="btn btn-lg btn-primary btn-block" (click)="logar()">Login</button>

    {{msg}}

    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</form>